@{
  ViewData["Title"] = "Service request completed!";
}

<h1>@ViewData["Title"]</h1>

<p>
  <label class="control-label">@TempData["message"]</label>
</p>

<div>
  <a asp-action="Index">Back to Services List</a>
</div>
